{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0"
  ],
  "plugins": [
    "autobind-class-methods",
    "syntax-dynamic-import",
    "macros",
    "preval"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "autoLabel": true,
            "labelFormat": "[filename]--[local]",
            "sourceMap": true
          }
        ]
      ]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        [
          "ramda",
          {
            "useES": true
          }
        ],
        [
          "emotion",
          {
            "hoist": true
          }
        ]
      ]
    }
  }
}
