{
  "presets": [
    [
      "env",
      {
        "modules": false
      }
    ],
    "react",
    "stage-0",
    "@lingui/babel-preset-react"
  ],
  "plugins": ["syntax-dynamic-import"],
  "env": {
    "development": {
      "plugins": [
        [
          "emotion",
          {
            "autoLabel": true,
            "labelFormat": "[filename]--[local]",
            "sourceMap": true
          }
        ]
      ]
    },
    "production": {
      "presets": ["react-optimize"],
      "plugins": [
        [
          "ramda",
          {
            "useES": true
          }
        ],
        [
          "emotion",
          {
            "hoist": true
          }
        ],
        [
          "react-intl",
          {
            "messagesDir": "./build/messages/"
          }
        ]
      ]
    }
  }
}
